@import url("../node_modules/normalize.css/normalize.css");
// Colors
$primary-color: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filterTablets: hsl(180, 31%, 95%);
$DarkCyan: hsl(180, 8%, 52%);
$VeryDarkCyan: hsl(180, 14%, 20%);
// Font
$Spartan: "League Spartan", sans-serif;

* {
	box-sizing: border-box;
	font-size: 1.5rem;
	font-family: $Spartan;
	transition: all 0.2s linear;
}
html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	width: 100vw;
}
header {
	position: relative;
	width: 100%;
	height: 30vh;
	max-height: 200px;
	background-color: $primary-color;
	background-image: url("./assets/images/bg-header-mobile.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	nav {
		position: absolute;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		bottom: -15%;
		left: 5%;
		width: 90%;
		height: fit-content;
		max-height: 300px;
		background-color: white;
		box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		.tags {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 90%;
			gap: 1rem;
		}
		button {
			background: none;
			border: none;
			text-decoration: underline;
			color: $DarkCyan;
		}
		button:hover {
			cursor: pointer;
			color: $primary-color;
		}
	}
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 0rem;
	gap: 5rem;
}
.card {
	position: relative;
	display: flex;

	width: 90vw;
	max-width: 500px;
	border-left: 5px $primary-color solid;
	border-radius: 5px;
	padding: 2rem;
	box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.25);
	.card__image {
		position: absolute;
		top: -25px;
		left: 20px;
		img {
			width: 50px;
		}
	}
	.card__title {
		display: flex;
		align-items: center;
		gap: 4rem;
		.title--business {
			color: $primary-color;
			font-weight: 700;
		}
		div {
			display: flex;
			gap: 1rem;
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				padding: 0.2rem 0.5rem;
				border-radius: 10px;
			}
			.new {
				background-color: $primary-color;
			}
			.featured {
				background-color: $VeryDarkCyan;
			}
		}
	}
	.title--job {
		font-size: 1.5rem;
	}
	.title--job:hover {
		cursor: pointer;
		color: $primary-color;
	}
	.card__description {
		display: flex;
		gap: 1rem;
		p {
			color: $DarkCyan;
		}
	}
	.container--tags {
		display: grid;
		border-top: 1px $DarkCyan solid;
		padding-top: 2rem;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			border: none;
			border-radius: 5px;
			color: $primary-color;
		}
		button:hover {
			background-color: $primary-color;
			color: white;
			cursor: pointer;
		}
	}
}

.tag {
	display: flex;
	width: fit-content;
	height: 25px;
	align-items: center;
	background-color: $filterTablets;
	border-radius: 5px;
	.tag__title {
		padding: 1rem;
	}
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25px;
		width: 25px;
		background-color: $primary-color;
		background-image: url("./assets/images/icon-remove.svg");
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 0px 5px 5px 0;
	}
	button:hover {
		background-color: $VeryDarkCyan;
		cursor: pointer;
	}
}

@media (min-width: 1280px) {
	.card {
		position: relative;
		display: flex;
		align-items: center;
		width: 90vw;
		max-width: 90vw;
		border-left: 5px $primary-color solid;
		border-radius: 5px;
		padding: 2rem 5rem;
		box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.25);
		gap: 2rem;
		.card__image {
			position: initial;
			top: 0;
			left: 0;
			img {
				width: 100px;
			}
		}
		.card__container--description {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}
		.card__title {
			display: flex;
			align-items: center;
			gap: 1rem;
			.title--business {
				color: $primary-color;
				font-weight: 700;
			}
			div {
				display: flex;
				gap: 1rem;
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					padding: 0.2rem 0.5rem;
					border-radius: 10px;
				}
				.new {
					background-color: $primary-color;
				}
				.featured {
					background-color: $VeryDarkCyan;
				}
			}
		}
		.title--job {
			font-size: 1.5rem;
		}
		.title--job:hover {
			cursor: pointer;
			color: $primary-color;
		}
		.card__description {
			display: flex;
			gap: 1rem;
			p {
				color: $DarkCyan;
			}
		}
		.container--tags {
			display: flex;
			border: none;
			padding-top: 2rem;
			gap: 1rem;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				border: none;
				color: $primary-color;
				height: fit-content;
				padding: 1rem;
			}
			button:hover {
				background-color: $primary-color;
				color: white;
				cursor: pointer;
			}
		}
	}
}
